<div class="accordion-button" data-state="{{open}}">
  <button class="accordion-btn" {{availability}}>
      <div>
          <span class="icon flaticon flaticon-{{icon}}"></span>
      </div>
      <div>
          <p class="title">{{title}}</p>
          <p class="subtitle">{{subtitle}}</p>
      </div>
  </button>
  <div class="content" data-region="accordion-content"></div>
</div>
